SoundFakeModel/processed_train_dataset_wav2vec_SVDD/
SoundFakeModel/processed_dev_dataset_wav2vec_SVDD/
SoundFakeModel/logmel_dev/
SoundFakeModel/logmel_train/

SoundFakeModel/__pycache__/
SoundFakeModel/.DS_Store
*.DS_Store
*/.DS_Store
*/separated
.vscode/
*.pyc
*.DS_Store
*env

*__pycache__

fairseq


*/uploads/*
.DS_Store
# src/pretrained_models/vocoder/*.pth
# *MMpaper_model.pth
src/pretrained_models/XLS-R/*.pth
# src/pretrained_models/XLS-R/*.pt
*xlsr2_300m.pt
